
/* Configure entire body design */
body {
    height: 15000px;
    margin: 0;
    /* background: linear-gradient(rgb(29, 4, 53) 0%, rgb(125, 168, 223) 30%, skyblue 40%, rgb(235, 187, 99) 75%, rgb(40, 226, 226)75%, blue 90%, rgb(9, 9, 94)) 95%; */
}

/* Design the loading screen */
#loader-wrapper .loader-section {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    /* background-image: url("#"); */    /* might add loading gif in screen */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: #;   */
    /* background-color: #; */
    /* z-index: 1000;  Above the entire site's assets */
    /* animation: #; */
}

/* Design the welcome part */
.welcome {
    height: 100%;
    width: 100%;
    top: 0px;
    margin: 0px;
    border: 0px;
    text-align: center;
    position: absolute;
    padding: 0;
    z-index: 0;

    /* if will add background image */
    /* background-attachment: local;
    background-image: url("#");
    background-color: #;
    background-position: center;
    background-repeat: no-repeat;
    background-size: #; */
}

.intro1, .intro2 {

}

.regions {
    height: ;
    background-attachment: fixed; /*Parallax Scrolling effect*/
    z-index:-1;
    background-image: url("#");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
}

.space {
    height: #;
    position: relative; /* to contain the assets */
}

#spaceship {
    position: absolute;
    left: 50%;
}

#spaceship img {
    position: sticky;  /*stick to the 'container' after passing the region*/
}

/* other info {
 
} */

/* other design {

} */

.uppatm {
    height: #;
    z-index: -2; /* below the welcome page */
    position: relative; /* to contain the assets */
}

.uppatm #spaceship {
    position: absolute;
    left: 50%;
}

.uppatm #spaceship img {
    position: sticky;  /*stick to the 'container' after passing the region*/
}

/* other info {
 
} */

/* other design {
    
} */

.uppatm {
    height: #;
    position: relative; /* to contain the assets */
}

.uppatm #airplane {
    position: absolute;
    left: 50%;
}

.uppatm #airplane img {
    position: sticky;  /*stick to the 'container' after passing the region*/
}

/* other info {
 
} */

/* other design {
    
} */

.midatm {
    height: #;
    position: relative; /* to contain the assets */
}

.midatm #airplane {
    position: absolute;
    left: 50%;
}

.midatm #airplane img {
    position: sticky;  /*stick to the 'container' after passing the region*/
}

/* other info {
 
} */

/* other design {
    
} */

.abovesea {
    height: #;
    position: relative; /* to contain the assets */
}

.abovesea #boat {
    position: absolute;
    left: 50%;
}

.abovesea #boat img {
    position: sticky;  /*stick to the 'container' after passing the region*/
}

/* other info {
 
} */

/* other design {
    
} */

.underwater {
    height: #;
    position: relative; /* to contain the assets */
}

.underwater #submarine {
    position: absolute;
    left: 50%;
}

.underwater #submarine img {
    position: sticky;  /*stick to the 'container' after passing the region*/
}

/* other info {
 
} */

/* other design {
    
} */

.underwater {
    height: #;
    position: relative; /* to contain the assets */
}

.underwater #submarine {
    position: absolute;
    left: 50%;
}

.underwater #submarine img {
    position: sticky;  /*stick to the 'container' after passing the region*/
}

/* other info {
 
} */

/* other design {
    
} */

.deepsea {
    height: #;
    position: relative; /* to contain the assets */
}

.deepsea #submarine {
    position: absolute;
    left: 50%;
}

.deepsea #submarine img {
    position: sticky;  /*stick to the 'container' after passing the region*/
}

/* other info {
 
} */

/* other design {
    
} */

#pearl {
    height: #;
}

#modalquiz {

}

.modal-content {

}

.questionaire {

}



/* Animations */
@keyframes moveup {
    0%    {top:0%;}
    100%  {top:-100%;}
}

@keyframes updown {
    0%   {margin-top: 10px;}
    100% {margin-top: 70px;}
}

@keyframes sideways {
    0%   {left: -70px;}
    100% {left: 95%;}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@keyframes movefromcentertoleft {
    from {left: 50%;}
    to {left: 30%;}
}